<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb737d">  <td>17/07/14 16:44:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeClass()[pri:0, instance:barnesnoble.BNSprintStories@69f1a286]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1375394559</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>17/07/14 16:44:50</td>   <td>11886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@69f1a286]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1375394559</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>17/07/14 16:44:50</td>   <td>11887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_56_Pancake_Menu_Display()[pri:2, instance:barnesnoble.BNSprintStories@69f1a286]">BRM_56_Pancake_Menu_Display</td> 
  <td>main@1375394559</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>17/07/14 16:44:57</td>   <td>18370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@69f1a286]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1375394559</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>17/07/14 16:44:57</td>   <td>18623</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterClass()[pri:0, instance:barnesnoble.BNSprintStories@69f1a286]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1375394559</td>   <td></td> </tr>
</table>
