<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>barnesnoble.BNRegUserCheckoutStories</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BRM_293_Ship_To_Multiple_Address</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_60_Login_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_289_Shipping_and_Billing_Address_Entry_and_Returning_Customer_Login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_298_Payment_Info_Registered_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_292_Address_Doctor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_301_Membership_Gift_Card_and_Coupons_Registered_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_296_Delivery_Options_Registered_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_294_Edit_Shipping_Address_and_Edit_Billing_Address</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>barnesnoble.BNGuestUserCheckoutStories</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BRM_296_Delivery_Options_Guest_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_301_Membership_Gift_Card_and_Coupons_Guest_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_298_Payment_Info_Guest_User</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_290_Guest_Shipping_and_Billing_Address_Entry_For_New_Customers</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>barnesnoble.BNPLPSearchStories</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BRM_1833_Product_list_page_implementation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_1817_Search_Result_Page_Implementation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>barnesnoble.BNMiniCart</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BRM_62_Mini_Cart_Display</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>barnesnoble.BNSprintStories</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BRM_55_Header_Rotating_Global_Promo_Message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_57_Search_Functionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_306_Sign_In</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_308_Register_Process</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_56_Pancake_Menu_Display</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BRM_59_Logo_Display</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
