<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CheckoutStories</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:56:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeClass()[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>17/07/14 15:56:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNMiniCart.beforeTest()[pri:0, instance:barnesnoble.BNMiniCart@7ff2a664]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 15:56:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNPLPSearchStories.beforeTest()[pri:0, instance:barnesnoble.BNPLPSearchStories@f0f2775]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>17/07/14 15:56:53</td>   <td>17829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNMiniCart.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNMiniCart@7ff2a664]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>17/07/14 15:56:53</td>   <td>17836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNMiniCart.BRM_62_Mini_Cart_Display()[pri:1, instance:barnesnoble.BNMiniCart@7ff2a664]">BRM_62_Mini_Cart_Display</td> 
  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 15:56:53</td>   <td>17994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNPLPSearchStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNPLPSearchStories@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 15:56:53</td>   <td>17995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNPLPSearchStories.BRM_1817_Search_Result_Page_Implementation()[pri:1, instance:barnesnoble.BNPLPSearchStories@f0f2775]">BRM_1817_Search_Result_Page_Implementation</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:56:54</td>   <td>18158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:56:54</td>   <td>18171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_60_Login_Link()[pri:1, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_60_Login_Link</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:57:19</td>   <td>44023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:57:20</td>   <td>44436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:57:20</td>   <td>44436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_292_Address_Doctor()[pri:2, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_292_Address_Doctor</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:58:51</td>   <td>135305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:58:51</td>   <td>135458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 15:58:51</td>   <td>135458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_294_Edit_Shipping_Address_and_Edit_Billing_Address()[pri:3, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_294_Edit_Shipping_Address_and_Edit_Billing_Address</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>17/07/14 16:01:49</td>   <td>313709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNMiniCart.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNMiniCart@7ff2a664]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="a785b4">  <td>17/07/14 16:01:49</td>   <td>313887</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNMiniCart.afterClass()[pri:0, instance:barnesnoble.BNMiniCart@7ff2a664]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:01:50</td>   <td>314342</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNGuestUserCheckoutStories.beforeClass()[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:02:08</td>   <td>332071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNGuestUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:02:08</td>   <td>332074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNGuestUserCheckoutStories.BRM_290_Guest_Shipping_and_Billing_Address_Entry_For_New_Customers()[pri:1, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">BRM_290_Guest_Shipping_and_Billing_Address_Entry_For_New_Customers</td> 
  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 16:02:37</td>   <td>361745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNPLPSearchStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNPLPSearchStories@f0f2775]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 16:02:37</td>   <td>361873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNPLPSearchStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNPLPSearchStories@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 16:02:37</td>   <td>361873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNPLPSearchStories.BRM_1833_Product_list_page_implementation()[pri:2, instance:barnesnoble.BNPLPSearchStories@f0f2775]">BRM_1833_Product_list_page_implementation</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:03:19</td>   <td>403425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:03:19</td>   <td>403537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:03:19</td>   <td>403537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_293_Ship_To_Multiple_Address()[pri:4, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_293_Ship_To_Multiple_Address</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:04:56</td>   <td>500117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:04:56</td>   <td>500209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:04:56</td>   <td>500209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_296_Delivery_Options_Registered_User()[pri:5, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_296_Delivery_Options_Registered_User</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:05:00</td>   <td>505015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNGuestUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:05:01</td>   <td>505106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNGuestUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:05:01</td>   <td>505106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNGuestUserCheckoutStories.BRM_296_Delivery_Options_Guest_User()[pri:2, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">BRM_296_Delivery_Options_Guest_User</td> 
  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:05:56</td>   <td>560839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:05:56</td>   <td>560946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:05:56</td>   <td>560946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_298_Payment_Info_Registered_User()[pri:6, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_298_Payment_Info_Registered_User</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 16:06:16</td>   <td>580665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNPLPSearchStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNPLPSearchStories@f0f2775]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="9395b2">  <td>17/07/14 16:06:16</td>   <td>580766</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNPLPSearchStories.afterClass()[pri:0, instance:barnesnoble.BNPLPSearchStories@f0f2775]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:06:18</td>   <td>583034</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeClass()[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:06:24</td>   <td>588336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNGuestUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:06:24</td>   <td>588459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNGuestUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:06:24</td>   <td>588459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNGuestUserCheckoutStories.BRM_301_Membership_Gift_Card_and_Coupons_Guest_User()[pri:3, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">BRM_301_Membership_Gift_Card_and_Coupons_Guest_User</td> 
  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:06:33</td>   <td>597091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:06:33</td>   <td>597091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_55_Header_Rotating_Global_Promo_Message()[pri:1, instance:barnesnoble.BNSprintStories@491666ad]">BRM_55_Header_Rotating_Global_Promo_Message</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:06:54</td>   <td>618510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNGuestUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:06:54</td>   <td>618598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNGuestUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:06:54</td>   <td>618598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNGuestUserCheckoutStories.BRM_298_Payment_Info_Guest_User()[pri:4, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">BRM_298_Payment_Info_Guest_User</td> 
  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:07:23</td>   <td>647854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:07:23</td>   <td>648033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:07:23</td>   <td>648033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_301_Membership_Gift_Card_and_Coupons_Registered_User()[pri:7, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_301_Membership_Gift_Card_and_Coupons_Registered_User</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:08:00</td>   <td>684557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:08:00</td>   <td>684725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNRegUserCheckoutStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:08:00</td>   <td>684725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNRegUserCheckoutStories.BRM_289_Shipping_and_Billing_Address_Entry_and_Returning_Customer_Login()[pri:8, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">BRM_289_Shipping_and_Billing_Address_Entry_and_Returning_Customer_Login</td> 
  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:08:10</td>   <td>694508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:08:10</td>   <td>694628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:08:10</td>   <td>694628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_56_Pancake_Menu_Display()[pri:2, instance:barnesnoble.BNSprintStories@491666ad]">BRM_56_Pancake_Menu_Display</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:09:42</td>   <td>786839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:09:42</td>   <td>786970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:09:42</td>   <td>786970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_57_Search_Functionality()[pri:3, instance:barnesnoble.BNSprintStories@491666ad]">BRM_57_Search_Functionality</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:09:55</td>   <td>799403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNGuestUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="73a577">  <td>17/07/14 16:09:55</td>   <td>799528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNGuestUserCheckoutStories.afterClass()[pri:0, instance:barnesnoble.BNGuestUserCheckoutStories@4450d156]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@810038926</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:11:52</td>   <td>916458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:11:52</td>   <td>916602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:11:52</td>   <td>916602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_306_Sign_In()[pri:4, instance:barnesnoble.BNSprintStories@491666ad]">BRM_306_Sign_In</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:12:32</td>   <td>956672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>17/07/14 16:12:32</td>   <td>956764</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNRegUserCheckoutStories.afterClass()[pri:0, instance:barnesnoble.BNRegUserCheckoutStories@28c4711c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1321779337</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:13:32</td>   <td>1016725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:13:32</td>   <td>1016808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:13:32</td>   <td>1016808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_59_Logo_Display()[pri:6, instance:barnesnoble.BNSprintStories@491666ad]">BRM_59_Logo_Display</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:14:18</td>   <td>1062723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:14:18</td>   <td>1062825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BNSprintStories.beforeMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:14:18</td>   <td>1062825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNSprintStories.BRM_308_Register_Process()[pri:7, instance:barnesnoble.BNSprintStories@491666ad]">BRM_308_Register_Process</td> 
  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:15:48</td>   <td>1152992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterMethod(java.lang.reflect.Method)[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
<tr bgcolor="7f8296">  <td>17/07/14 16:15:49</td>   <td>1153265</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BNSprintStories.afterClass()[pri:0, instance:barnesnoble.BNSprintStories@491666ad]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@931857571</td>   <td></td> </tr>
</table>
