@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    outline: none;
    color: #409e56;
}
.cf:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .cf {
    display: block;
}
* html .cf {
    height: 1%;
}
/* User styles */
.wrap{
    width: 1020px;
    margin: 0 auto;
}
.hidden{
    display: none;
}


body{
    font: 14px/1.3 'gotham_proregular', 'opensans_semibold', sans-serif;
}


/* Header */

.header{
    padding: 26px 0;
}
.header-logo{
    float: left;
    width: 206px;
    height: 34px;
    padding: 12px 0 0;
    margin: 1px 0 0 35px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url(img/logo.png) no-repeat;
    text-align: right;
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
    .header-logo {
        background:url(img/logo@2x.png) no-repeat;
        background-size: 206px 46px;
    }
}

.header-logo-ver{
    font-family: 'gotham_proregular', 'opensans_semibold', sans-serif;
    font-size: 24px;
    line-height: 100%;
    color: #acbbae;
}
.header-download{
    float: right;
    padding: 4px 13px 12px 8px;
    margin: 0 40px 0 0;
    background: #46bb61;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 700 16px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
    text-decoration: none;
}
.header-download:hover{
    background: #51d16e;
}
.header-download:active{
    background: #43ad5c;
}
.header-download-icon{
    position: relative;
    top: 6px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 7px 0 0;
    background: url(img/header-download-icon.png);
}
.header-like{
    float: right;
    padding: 11px 12px 13px;
    margin: 0 20px 0 0;
    background: #f2faf4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 400 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #778b7c;
    text-decoration: none;
}
.header-like:hover{
    background: #f8f8f8;
}
.header-like:active{
    background: #e2f3e6;
}
.header-like-icon{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 18px;
    height: 17px;
    margin: 0 7px 0 0;
    background: url(img/header-like-icon.png);
}
.top-menu{
    height: 50px;
    margin: 0 0 30px;
    background: url(img/top-menu-bg.png) repeat-x;
}
.top-menu-item{
    display: inline-block;
    padding: 17px 0;
    margin: 0 33px 0 0;
    font: 400 14px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #bbb;
    text-decoration: none;
    text-align: center;
}
.top-menu-item:first-of-type {
    margin: 0 33px 0 35px;
}
.top-menu-item:last-of-type{
    margin: 0
}
.top-menu-item.active, .top-menu-item:hover{
    color: #fff;
}
/* Settings page */
.settings-page{

}
.settings-page-title{
    margin: 0 0 25px 35px;
    font: 700 22px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #778b7c;
}
.settings-page-title-info{
    font-size: 11px;
    color: #afafaf;
    padding-left: 5px;
    font-family: 'gotham_promedium', 'opensans_semibold', sans-serif;
    font-weight: 400;
}
.spt-font-small {
    margin-top: 10px;
    margin-right: 25px;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    font-style: italic;
}
.spt-font-s{
    margin: 15px 0 15px 10px;
    font-size: 16px;
}
.spt-link-dashed{
    text-decoration: none;
    border-bottom: 1px dashed;
    padding-bottom: 1px;
    color: #778b7c;
}
.spt-link-dashed:hover{
    color: #465349;
}
.modal-header .settings-page-title{
    margin: 0;
}
.settings-page-table{
    margin: 0 0 45px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    background: #f5f5f5;
}

.filter-panel{
    margin: 0 0 25px;
}
.filter-panel:last-child{
    margin: 0;
}
.filter-panel .settings-page-table{
    margin-bottom: 0;
}

.s-page-table-row{
    padding: 13px 39px 13px 36px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.sp-table-row-label{
    float: left;
    margin: 4px 0 0;
    font: 400 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #808080;
    width: 94%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.s-page-table-row.active .sp-table-row-label{
    color: #333;
}
.sp-table-row-pseudo{
    position: relative;
    float: right;
    width: 43px;
    height: 22px;
    background: #e85037 url(img/settings-checkbox.png) 0 100% no-repeat;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: -1px;
}
.s-page-table-row.active .sp-table-row-pseudo{
    background: #4bcf69 url(img/settings-checkbox.png) 0 0 no-repeat;
}
.spt-row-pseudo-handler{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.s-page-table-row.active .spt-row-pseudo-handler{
    right: 1px;
    left: auto;
}
.sp-table-row-input{
    display: none;
}
.settings-page-lists{
/*    margin: 0 0 25px;*/
}
.s-page-lists-white, .s-page-lists-user{
    margin: 0 0 30px;
}
/*.s-page-lists-white{
    float: left;
}
.s-page-lists-user{
    float: right;
}*/
.sp-lists-user-title{
    margin: 0 0 15px 35px;
    font: 700 22px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #778b7c;
}
.sp-lists-user-descr{
    margin: 0 35px 17px 35px;
    font: 400 14px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #333;
    line-height: 20px;
}
.spl-user-descr-link{
    text-decoration: underline;
    color: #409e56;
}
.spl-user-descr-link:hover{
    color: #2e603a;
}
.sp-lists-user-table{
    position: relative;
    max-height: 234px;
    height: 234px;
    margin: 0 0 17px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    background: #f5f5f5;
    overflow: hidden;
}
.spl-user-table-handler{
    position: absolute;
    right: 5px;
    width: 8px;
    height: 50px;
    background: rgba(196,196,196,0.8);
    cursor: pointer;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.sp-lists-user-table:hover .spl-user-table-handler{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.spl-user-table-row{
    padding: 10px 39px 10px 36px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.splw-table-row-label, .splu-table-row-label{
    float: left;
    width: 94%;
    font: 400 14px/15px monospace, 'courier new';
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 17px;
}
.spl-user-table-row.editing{
    background: #fff;
}
.spl-user-table-row.editing .splu-table-row-label, .spl-user-table-row.editing .settings-options-icon-edit, .spl-user-table-row.editing
.settings-options-icon-delete{
    display: none;
}
.spl-user-table-row.editing .splu-table-row-input{
    display: block;
}
.spl-user-table-row.editing .settings-options-icon-cross, .spl-user-table-row.editing .settings-options-icon-tick{
    display: inline-block;
}
.spl-user-table-row.editing .splu-table-row-input:focus{
    outline: none;
}
.splu-table-row-input{
    display: none;
    float: left;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    width: 94%;
    font: 400 14px/15px monospace, 'courier new';
    line-height: 16px;
}
.splw-table-row-options, .splu-table-row-options{
    float: right;
    width: 40px;
    height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
label {
    font-family: 'gotham_promedium', 'opensans_semibold';
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.search-field {
    line-height: 30px;
    padding: 0 10px 0 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 300px;
    background: white;
    display: inline-block;
}
.preloader {
    background: url(img/pre24.gif) no-repeat;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    padding-left: 32px;
    font-size: 12px;
}
.al-c {
    text-align: center;
}
.search-field input[type=text] {
    border: none;
}
.btn-search {
    height: 24px;
    width: 24px;
    background: url(img/loupe.png) no-repeat;
    float: right;
    line-height: 30px;
    margin-top: 7px;
}
[class^="settings-options-icon-"]{
    display: inline-block;
    width: 16px;
    height: 17px;
    background-image: url(img/setting-list-sprite.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
[class^="settings-options-icon-"]:first-of-type{
    margin: 0 4px 0 0;
}
.settings-options-icon-edit{
    background-position: 0 0;
}
.settings-options-icon-edit:hover{
    background-position: 0 -19px;
}
.settings-options-icon-delete{
    background-position: -24px 0;
}
.settings-options-icon-delete:hover{
    background-position: -24px -19px;
}
.settings-options-icon-cross{
    background-position: -24px -55px;
    display: none;
}
.settings-options-icon-tick{
    background-position: 0px -55px;
    display: none;
}
.settings-options-icon-cross:hover{
    background-position: -24px -37px;
}
.settings-options-icon-tick:hover{
    background-position: 0px -37px;
}
.sp-lists-user-add{
    margin: 0 0 0 35px;
    font: 400 14px/15px 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #409e56;
    text-decoration: none;
}
.spl-user-add-spn{
    border-bottom: 1px dashed;
    margin: 0 5px 0 5px;
}
.spl-user-add-spn:hover{
    color: #2e603a;
}
.sp-lists-user-add:before{
    content: "+";
    display: inline-block;
}

/* Prefooter */
.prefooter{
    height: 84px;
    padding: 43px 0 0;
    background: url(img/prefooter-bg.png) repeat-x;
}
.prefooter-do-you-want{
    float: left;
    margin: 0 0 0 36px;
}
.pd-you-want-text{
    font: 400 22px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #fff;
}
.pd-you-want-btn{
    padding: 12px;
    margin: 0 0 0 22px;
    background: #ffe719;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 700 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #000;
    text-decoration: none;
}
.pd-you-want-btn:hover{
    background: #fdef76;
}
.pd-you-want-btn:active{
    background: #ecd300;
}
.pdy-want-btn-icon{
    position: relative;
    top: 7px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 7px 0 0;
    background: url(img/prefooter-download-icon.png);
}
.prefooter-do-you-like{
    float: right;
    margin: 8px 36px 0 0;
}
.pd-you-like-text{
    font: 400 16px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #b2b2b2;
}
.pd-you-like-btn{
    padding: 12px;
    margin: 0 0 0 22px;
    background: #575757;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 400 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
    text-decoration: none;
}
.pd-you-like-btn:hover{
    background: #666363;
}
.pd-you-like-btn:active{
    background: #464545;
}
.pdy-like-btn-icon{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 18px;
    height: 17px;
    margin: 0 8px 0 0;
    background: url(img/prefooter-like-icon.png);
}
.footer{
    padding: 40px 0;
}
.footer-copy{
    float: left;
    margin: 0 86px 0 36px;
    font: 700 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #333;
}
.footer-menu{

}
.footer-menu-item{
    margin: 0 33px 0 0;
    font: 400 14px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #409e56;
}
.footer-menu-item:last-of-type{
    margin: 0;
}
.footer-menu-item:hover{
    color: #2e603a;
}

/* Hidden */
.hidden-containers{

}
.alert-topline {
    position: fixed;
    top: 0px;
    left: 0px;
    /*height: 40px;*/
    width: 100%;
    background-color: #a94442;
    color: #fff;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    z-index: 999999;
}
.alert-attention{
    position: fixed !important;
    top: 10px !important;
    right: 0px !important;
    z-index: 5000 !important;
    width: 390px !important;
    padding: 30px 20px 30px 36px !important;
    border-right: 6px solid #409e56 !important;
    -webkit-border-radius: 9px 0 0 9px !important;
    border-radius: 9px 0 0 9px !important;
    background: rgba(0, 0, 0, 0.93) !important;
    color: #fff !important;
    text-align: left !important;
}
.alert-attention-title{
    margin: 0 0 10px !important;
    font: 400 18px/100% 'gotham_proregular', 'opensans_semibold', sans-serif !important;
}
.alert-attention-text{
    font: 400 13px/150% 'gotham_proregular', 'opensans_semibold', sans-serif !important;
    margin-top: 10px !important;
}
.widjet-popup{
    width: 340px;
    background: rgba(255,255,255,0.91);
    -webkit-border-radius: 2px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}
.widjet-popup:before{
    content: "";
    position: absolute;
    right: 60px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.91);
}

.widjet-popup-filter{
    padding: 22px 20px 20px;
    border-bottom: 1px solid #f5f5f5;
    font: 400 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #8f9b92;
}
.w-popup-filter-title{
    position: relative;
    top: 5px;
}
.w-popup-filter-checkbox{

}
.w-popup-filter-checkbox{
    position: relative;
    float: right;
    width: 43px;
    height: 22px;
    background: #e85037 url(img/settings-checkbox.png) 0 100% no-repeat;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.w-popup-filter-checkbox.active{
    background: #4bcf69 url(img/settings-checkbox.png) 0 0 no-repeat;
}
.wp-filter-checkbox-handler{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.w-popup-filter-checkbox.active .wp-filter-checkbox-handler{
    right: 1px;
    left: auto;
}
.widjet-popup-menu{
    padding: 10px 0;
    box-sizing: border-box;
}
.w-popup-menu-item{
    position: relative;
    padding: 13px 10px 13px 54px;
    display: block;
    font: 400 14px/100%  'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #8f9b92;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.w-popup-menu-item:hover{
    background: rgba(239,246,240,0.91);
    color: #333;
}

[class^="popup-icon-"]{
    position: absolute;
    top: 7px;
    left: 20px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(img/sprite-2.png);
}

.popup-icon-filter {
    background-position: 0 0;
}
.w-popup-menu-item:hover .popup-icon-filter {
    background-position: -24px 0;
}

.popup-icon-appeal {
    background-position: 0 -24px;
}
.w-popup-menu-item:hover .popup-icon-appeal {
    background-position: -24px -24px;
}

.popup-icon-report {
    background-position: 0 -48px;
}
.w-popup-menu-item:hover .popup-icon-report{
    background-position: -24px -48px;
}

.popup-icon-settings {
    background-position: 0 -72px;
}
.w-popup-menu-item:hover .popup-icon-settings {
    background-position: -24px -72px;
}

.popup-icon-more {
    background-position: 0 -96px;
}

.w-popup-menu-item:hover .popup-icon-more {
    background-position: -24px -96px;
}

.popup-icon-shutdown {
    background-position: 0 -120px;
    position: absolute;
    right: 20px;
    left: auto;
    top: 17px;
}

.collapsed .popup-icon-collapse {
    background-position: 0 -192px;
}

.detailed-stats ul li.collapsed:hover .popup-icon-collapse {
    background-position: -24px -192px;
}

.expanded .popup-icon-collapse {
    background-position: 0 -217px;
}

.detailed-stats ul li.expanded:hover .popup-icon-collapse {
    background-position: -24px -217px;
}

.shutdown-adguard, .dont-block-website {
    cursor: pointer;
    color: #8f9b92;
}

.shutdown-adguard:hover .popup-icon-shutdown {
    background-position: -24px -120px;
}

.shutdown-adguard.off .popup-icon-shutdown {
    background-position: 0 -240px;
}

.shutdown-adguard.off:hover .popup-icon-shutdown {
    background-position: -24px -240px;
}

.col-stats {
    position: relative;
}

.back-to-stats {
    cursor: pointer;
}

.col-stats .first-row, .col-stats .detailed-stats {
    transition: all .3s;
    opacity: 1;
}

.back-to-stats .first-row, .back-to-stats .detailed-stats {
    transition: all .3s;
    opacity: 0;
}

.back-to-stats>ul {
    display: none;
}

.back-to-stats::before {
    position: absolute;
    top: 140px;
    left: 10px;
    display: inline-block;
    width: 24px;
    height: 48px;
    background: url(img/sprite-2.png);
    background-position: 0 -144px;
    content: " ";
    z-index: 100;
}

.back-to-stats:hover::before {
    background-position: -24px -144px;
}

/* integration-mode */

.integration-message, .exception-message {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin: 60px 20px 0;
    color: #8f9b92;
}

.integration-message .anim {
    margin-bottom: 15px;
    margin-bottom: 15px;
}

.popup-menu-item{

}

.w-popup-menu-item{

}
.widjet-popup-script{
    position: relative;
    padding: 27px 10px 27px 54px;
    border-top: 1px solid #eff6f0;
    font: 400 14px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #8f9b92;
    cursor: pointer;
}
.widjet-popup-script:hover{
    background: rgba(239,246,240,0.91);
    color: #333;
}
.w-popup-script-title{

}
.w-popup-script-arrow{
    position: absolute;
    top: 29px;
    right: 40px;
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(img/widjet-popup-icons.png);
    background-position: -33px -173px;
}
.widjet-popup-footer{
    padding: 30px 0 30px;
    background: url(img/widjet-popup-footer-bg.png) no-repeat;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    text-align: center;
}
.w-popup-footer-title{
    margin: 0 0 13px;
   font: 400 16px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
   color: #fff;
}
.w-popup-footer-btn{
    padding: 12px;
    background: #ffe719;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 700 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #000;
    text-decoration: none;
}
.w-popup-footer-btn:hover{
    background: #fdef76;
}
.w-popup-footer-btn:active{
    background: #ecd300;
}

.widjet-popup-back{
    position: relative;
    padding: 24px 0 24px 50px;
    font: 400 12px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #b5b5b5;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 2px 2px 0 0 ;
    border-radius: 2px 2px 0 0 ;
}
.widjet-popup-back:hover{
    background: rgba(239,246,240,0.91);
}
.w-popup-back-text{
    border-bottom: 1px solid #eee;
}
.w-popup-back-arrow{
    position: absolute;
    top: 17px;
    left: 22px;
    display: inline-block;
    width: 13px;
    height: 24px;
    background: url(img/widjet-popup-icons.png);
    background-position: -44px -152px;
}
.w-popup-menu-another{
    margin: 0 0 10px;
}
.wp-menu-another-item{
    padding: 13px 0 13px 50px;
    font: 400 14px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #333;
    cursor: pointer;
}
.wp-menu-another-item:hover{
    background: rgba(239,246,240,0.91);
}

.modal-feedback{
    width: 510px;
    padding: 20px;
    background: rgba(255,255,255,0.91);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 10px 3px rgba(0, 0, 0, 0.3);
}
.modal-feedback-header{
    margin: 0 0 27px;
    font: 700  24px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #333;
}
.modal-feedback-select{
    position: relative;
    width: 280px;
    font: 400 13px/150% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #333;
}
.modal-feedback-inner{
    position: relative;
    padding: 4px 0 4px 15px;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.m-feedback-inner-text{
    width: 230px;
    border-right: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-feedback-inner-icon{
   position: absolute;
    top: 11px;
    right: 10px;
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url(img/widjet-popup-icons.png);
    background-position: -12px -163px
}
.modal-feedback-dropdown{
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.91);
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.m-feedback-dropdown-item{
    padding: 5px 0 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.m-feedback-dropdown-item:hover{
    background: rgba(239,246,240,0.91);
}
.modal-feedback-message{
    padding: 12px 15px;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.modal-feedback-message textarea{
    width: 100%;
    height: 110px;
    border: 0;
    font: 400 13px/150% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #333;
    resize: none;
}
.modal-feedback-message textarea:focus{
    outline: none;
}
.modal-feedback-actions{

}
.m-feedback-actions-send{
    float: right;
    padding: 12px 13px;
    margin: 0 0 0 30px;
    background: #46bb61;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 700 16px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
    text-decoration: none;
}
.m-feedback-actions-send:hover{
    background: #51d16e;
}
.m-feedback-actions-send:active{
    background: #43ad5c;
}
.m-feedback-actions-cancel{
    float: right;
    margin: 13px 0 0;
    font: 400 12px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #b2b2b2;
    text-decoration: none;
}
.m-feedback-actions-cancel:hover{
    text-decoration: underline;
}

/* Thanks page */
.thanks-header{
    height: 89px;
    border-bottom: 3px solid #2fa449;
}
.thanks-header-img{
    width: 41px;
    height: 42px;
    margin: 24px 7px 0 36px;
}
.thanks-header-title{
    position: relative;
    top: -11px;
    display: inline-block;
    font: 700 30px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #333;
}
.thanks-content{
    padding: 26px 0 70px;
}
.thanks-content-descr{
    margin: 0 0 25px 36px;
    font: 18px/170% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #333;
}
.thanks-content-regform{
    padding: 20px 36px;
    border: 1px solid #e6e6e6;
    margin: 0 0 28px;
    background: #f5f5f5;
}
.tc-regform-input{
    width: 386px;
    padding: 14px 16px 15px;
    border: 1px solid #ccc;
    margin: 0 5px 0 0;
    background: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 16px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #000;
}
.tc-regform-input::-webkit-input-placeholder {
    color: #999;
}
.tc-regform-input:-moz-placeholder {
    color: #999;
}
.tc-regform-btn{
    padding: 15px 25px 16px;
    margin: 0 40px 0 0;
    background: #46bb61;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 700 16px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
    text-decoration: none;
}
.tc-regform-btn:hover{
    background: #51d16e;
}
.tc-regform-btn:active{
    background: #43ad5c;
}
.thanks-content-reginfo{
    padding: 0 0 0 36px;
}
.tc-reginfo-title{
    margin: 0 0 22px;
    font: 18px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #333;
}
.tc-reginfo-list{

}
.tc-reginfo-item{
    position: relative;
    padding: 0 0 0 24px;
    margin: 0 0 16px;
    font: 14px/130% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #666;
}
.tc-reginfo-item:before{
    content: "";
    position: absolute;
    top: 3px;
    left: -2px;
    display: block;
    width: 14px;
    height: 12px;
    background: url(img/thanks-tick.png) no-repeat;
}
.thanks-prefooter {
    padding: 36px 0;
    background: #1a1a1a;
	background: url(img/bg.jpg) repeat;
}
.thanks-prefooter-title{
    margin: 0 0 26px 36px;
    font: 700 30px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
}
.thanks-prefooter-table{

}
.tp-table-head{
    font: 700 18px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
}
.tpt-head-min{
    float: left;
    width: 282px;
    padding: 16px 0;
    margin: 0 0 0 454px;
    background: #484848;
    text-align: center;
}
.tpt-head-full{
    float: left;
    width: 284px;
    padding: 16px 0;
    background: #2ca144;
    text-align: center;
}
.tp-table-row{
    border-bottom: 1px solid #e6e6e6;
}
.tp-table-row:last-of-type{
    border: 0;
}
.tpt-row-label{
    float: left;
    width: 408px;
    padding: 12px 10px 12px 36px;
    background: #fff;
    font: 16px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tpt-label-spn{
    position: relative;
}
.tptl-spn-question{
    position: absolute;
    top: -7px;
    right: -18px;
    width: 14px;
    height: 14px;
    background: url(img/thanks-question-mark.png) no-repeat;
    cursor: pointer;
}
.tpt-row-min-val{
    float: left;
    width: 282px;
    padding: 11px 0;
    background: #f7f7f7;
    font: 18px/100% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #666;
    text-align: center;
}
.tpt-row-full-val{
    float: left;
    width: 284px;
    padding: 9px 0;
    background: #e9f7ec;
    font: 700 22px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #333;
    text-align: center;
}
.thanks-cross{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(img/thanks-cross.png) no-repeat;
}
.thanks-tick{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(img/thanks-tick.png) no-repeat;
}
.tpt-row-min-val .thanks-cross{
    position: relative;
    top: 1px;
}
.tpt-row-full-val .thanks-tick{
    position: relative;
    top: -2px;
}
.tp-table-foot{
    font: 700 18px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #fff;
}
.tpt-foot-min{
    float: left;
    width: 282px;
    padding: 26px 0;
    margin: 0 0 0 454px;
    font: 12px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #808080;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tpt-foot-full{
    float: left;
    width: 284px;
    padding: 14px 0 22px;
    text-align: center;
}
.tptf-full-btn{
    background: #ffe719;
    font: 700 18px/100% 'gotham_promedium', 'opensans_semibold', sans-serif;
    color: #000;
    text-decoration: none;
}
.tptf-full-btn:hover{
    background: #fdef76;
}
.tptf-full-btn:active{
    background: #ecd300;
}
.tp-table-popup{
    width: 440px;
    padding: 20px;
    background: rgba(255,255,255,0.91);
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}
.tp-table-popup:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background: url(img/thanks-popup-question.png) no-repeat;
}
.tpt-popup-title{
    margin: 0 0 10px;
    font: 20px/100% 'gotham_promedium', Georgia, 'opensans_semibold', serif;
    color: #333;
}
.tpt-popup-text{
    font: 14px/150% 'gotham_proregular', 'opensans_semibold', serif;
    color: #333;
}

.sp-table-row-descr{
    clear: both;
    margin-top: 5px;
    max-width: 880px;
    font: 400 12px/130% 'gotham_proregular', 'opensans_semibold', sans-serif;
    color: #808080;
}
.modal-body .sp-table-row-descr{
    max-width: 530px;
    font-size: 12px;
}

.col {
    float: left;
    border-left: 1px solid #deddd9;
    background-color: #ffffff;
}

.col-stats {
    border-left: none;
    width: 280px;
}

.col-actions {
    min-width: 521px;
    border-left: none;
    margin-left: 280px;
    position: relative;
    left: 0px;
}

.actions-expanded .col-actions {

}

.actions-expanded .col-actions {
    box-shadow: -4px 0px 0 RGBA(0,0,0,0.018);
}

.col-primary-actions {
    width: 270px;
}

.col-secondary-actions {
    width: 240px;
}

.col-secondary-actions .w-popup-menu-item {
    padding-left: 13px;
}

.first-row {
    height: 62px;
    padding: 20px 20px;
    line-height: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #deddd9;
    position: relative;
    margin-top: 2px;
}

.widjet-popup {
    overflow: hidden;
}

.detailed-stats {

}

.detailed-stats ul {
    padding: 10px 0;
    font-size: 18px;
}

.detailed-stats>ul>li {
    line-height: 40px;
    min-height: 40px;
    padding-left: 48px;
    color: #8f9b92;
    cursor: pointer;
    position: relative;
}

.detailed-stats>ul>li:hover, .detailed-stats>ul>li>ul>li:hover {
    background: rgba(239,246,240,0.91);
    color: #333;
}

.detailed-stats>ul>li ul {
    background: #ffffff;
    display: block;
    font-size: 12px;
    line-height: 30px;
    padding: 0;
    color: #8f9b92;
    margin-left: -48px;
}

.detailed-stats>ul>li>ul>li {
    padding: 0 0 0 48px;
}

.limit-height-250 {
    max-height: 250px;
    height: 250px;
    overflow: auto;
}

.icon-exception {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    background: url('img/sprite-2.png') no-repeat 0 -263px;
}

.exception-message {
    margin-top: 70px;
}

.exception-message .text {
    margin-top: 10px;
}

.stats-counter {
    float: right;
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

ul ul .stats-counter {
    font-size: 11px;
}

